#clear-cart, #finalizar-compra {
    background-color: #444;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
  }

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 2em;
}
.links {
    display: flex;
    align-items: center;   
    justify-content: center; 
    text-decoration: none;
    text-align: center;
    background-color: #444;
    color: white;
    width: 30%;
    height: 5em;
    border-radius: 8px;
    border: 2px solid red;
    font-weight: bold;
    padding: 0.5rem;
}

