#clear-cart, #finalizar-compra {
    background-color: #444;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
  }

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}
.links {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    background-color: #444;
    color: white;
    width: 30%;
    border-radius: 5px;
    border: 2px solid red;
    margin: 2% 0;
}

